

/* .container {
    background-color: white !important;
} */

.landing-page {
    height: 92vh; 
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /* vertical */
    background-color: white;
  }
  
  /* Centered content */
  .centered-content {
    text-align: center;
  }
  
  /* SVG image */
  .logo {
    width: auto; 
    height: 90vh; 
  }
  
  .proceed-button {
    position: absolute; 
    bottom: 110px; 
    left: 50%; 
    transform: translateX(-50%); /* Center horizontally */
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #ff0084; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 

  }
  
  
  .proceed-button:hover {
    background-color: #F708a5; 
  }
  